html {
    background-color: #000000;
    background-image: url("common/bg.avifs");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.fancy {
    font-family: serif;
}

.superfancy {
    font-family: cursive;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(15, 15, 15, .5);
    backdrop-filter: blur(10px);
    /* Adjust blur effect here */
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    background: linear-gradient(270deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #9400d3);
    background-size: 500% 500%;
    background-clip: text;
    /* clip to text */
    -webkit-text-fill-color: transparent;
    /* fix white stroke and let animation play */
    animation: rainbowLogo 10s cubic-bezier(0, .5, 1, .5) infinite;
}

@keyframes rainbowLogo {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold;
}

.nav-links a:hover {
    color: #f0a500;
}

.content {
    padding: 20px;
}

.rainbow {
    display: inline-block;
    transition: transform 0.25s cubic-bezier(0, 0, 0, 1), filter 1s linear;
}

.rainbow:hover {
    filter: hue-rotate(0deg);
    animation: hue-rotate 1s linear infinite;
    transform: scale(1.25);
    transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}

.rainbow:not(:hover) {
    transform: scale(1);
    transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}

@keyframes hue-rotate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.shaking-text {
    display: inline-block;
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 0);
    }

    20% {
        transform: translate(-1px, 1px);
    }

    40% {
        transform: translate(1px, 0);
    }

    60% {
        transform: translate(-1px, -1px);
    }

    80% {
        transform: translate(1px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

input {
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #5a5a5a;
    border-radius: 25px;
    padding: 10px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: lightgray;
}

.downloadBtn {
    border-radius: 25px;
    background-color: #000000;
    border: 2px solid #5a5a5a;
    color: #ffffff;
    outline: none;
}

.greentext {
    color: #00b500
}

iframe {
    border-radius: 25px;
}

img {
    border-radius: 25px;
}

.spin {
    animation: spin 1s linear infinite;
    transform-origin: center;
}

@keyframes spin {
    from {
        transform: rotateY(-90deg);
    }

    to {
        transform: rotateY(90deg);
    }
}